.env
.env.backup
.envault.json
.phpunit.result.cache
.php_cs
.php_cs.cache
.phpstorm.meta.php
/.idea
/.vscode
/node_modules
/public/hot
/public/js/*.LICENSE.txt
/public/storage
/storage/*.key
/storage/framework/laravel-excel
/storage/media-library
/vendor
Homestead.json
Homestead.yaml
_ide_helper.php
auth.json
docker-compose.override.yml
npm-debug.log
psalm.xml
yarn-error.log

# Linked folders to ignore
/public/avatars
